<!DOCTYPE html>
<html>
<head>
	<title>Movie Ticketing</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon-film.ico') }}">
	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icons/css/all.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.date.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/themes/default.time.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron login-header">
			<!-- <i class="fas fa-popcorn"></i> -->
			<h1>Movie Ticketing System</h1>
		</div>
		<div class="jumbotron module">
			<input type="text" name="username" placeholder="Username" autocomplete="off">
			<input type="password" name="password" placeholder="Password">
			<button type="button" class="btn btn-danger" onclick="login()">Login</button>
			<button type="button" class="btn btn-danger" onclick="window.location.href='/signup'">Signup</button>
		</div>
	</div>
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/picker.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/picker.date.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/picker.time.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='app.js') }}"></script>
</body>
</html>